:host{
  overflow: hidden;
}
.table-wrapper{
  overflow-x: auto;
}
table{
  border-collapse: collapse;
  color: #a9afbb;
}
tr{
  cursor: pointer;
}
tr:not(:first-child):hover{
  transition: 300ms;
  background: #00000083;
}
tr:nth-child(even){
  background: #060d1f
}
th, td{
  padding: 20px;
  border-bottom: 1px solid #AEB7B3;
  font-size: 1.1rem;
}
th > span{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
th:hover span, th.active-order-option span{
  color: var(--yellow);
}
th.active-order-option .icon{
  transition: 300ms;
  transform: rotate(180deg);
}
.load-more-btn{
  display: block;
  position: relative;
  margin: 35px auto 0 auto;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: var(--common-font);
  cursor: pointer;
  background: var(--yellow);
  border: 0;
  transition: 200ms;
}
.load-more-btn.loading{
  color: var(--yellow);
}
.load-more-btn:not([disabled]):hover{
  background: var(--yellow-hover);
}
.load-more-btn:active{
  transform: scale(0.90);
}
.load-more-btn app-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reloading-table{
  position: fixed;
  right: 10px;
  bottom: 10px;
}