<div *ngIf="cryptoAssets.length > 0; else loadingFirstAssets">
  <div class="table-wrapper">
    <table>
      <tr>
        <th 
          *ngFor="let head of tableHeads"
          (click)="order(head.orderOption)"
          [class.active-order-option]="activeOrderOption === head.orderOption"
        >
        <span>
          {{head.name}}
          <span class="icon material-symbols-rounded">
            arrow_downward
          </span>
        </span>
        </th>
      </tr>
  
      <tr 
        *ngFor="let crypto of cryptoAssets"
        (click)="goToAssetInfo(crypto.id)"
      >
        <td> 
          {{ crypto.name }} ({{crypto.symbol}}) 
        </td>
        <td> 
          {{ crypto.priceUsd | number: '1.2' }}$ 
        </td>
        <td> 
          {{ crypto.marketCapUsd | number: '1.2' }}$ 
        </td>
        <td> 
          {{ crypto.volumeUsd24Hr | number: '1.2' }}$ 
        </td>
        <td [style.color]="crypto.changePercent24Hr > 0 ? '#60d830' : '#ec1b1b'"> 
          {{ crypto.changePercent24Hr | number: '1.2' }}%
        </td>
      </tr>
    </table>
  </div>

  <button 
    class="load-more-btn" 
    [disabled]="loadingMore" 
    [class.loading]="loadingMore" 
    (click)="getMoreAssets()"
  >
    Cargar más
    <app-spinner *ngIf="loadingMore" size="30px" color="#000"></app-spinner>
  </button>
</div>

<ng-template #loadingFirstAssets>
  <app-spinner></app-spinner>
</ng-template>

<p *ngIf="reloadingTableData" class="reloading-table">
  <app-spinner></app-spinner>
</p>