*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --common-font: 'DM Sans', sans-serif;
  --wolf-font: 'Merienda', cursive;
  --yellow: #fbc328;
  --yellow-hover: #ca9d21;
}

body{
  font-family: var(--common-font);
  background: #0a1128;
}
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 20px;
  border: 3px solid #ffffff;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d3d;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
a {  
  text-decoration: none;
}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}